{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Главная страница</h1>
          <h5>Когда-нибудь тут будут новости.</h5>
            </div>
      </div>
    </main>
{% endblock %}
