{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<body>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Новостной портал</h1>
          <h5>Новостное издание, специализирующиеся в сборе и выдаче новостей.</h5>
            </div>
      </div>
    </main>
</body>
{% endblock %}
